.idea/
# .vscode/
__pycache__/
data/
*.egg-info/
JSBoutX8.csv
a.py

# ignore those folders
jsbgym/fdm_descriptions/aircraft/*
jsbgym/fdm_descriptions/engine/*
runs/

# but except those folders and those files
!jsbgym/fdm_descriptions/aircraft/x8/
!jsbgym/fdm_descriptions/aircraft/c172p/
!jsbgym/fdm_descriptions/engine/electric800W.xml
!jsbgym/fdm_descriptions/engine/eng_io320.xml
!jsbgym/fdm_descriptions/engine/direct.xml
