.idea/
.vscode/
__pycache__/
telemetry/
wandb/
*.egg-info/
fw_jsbgym/outputs/
JSBoutX8.csv
a.py

# ignore those folders
fw_jsbgym/fdm_descriptions/aircraft/*
fw_jsbgym/fdm_descriptions/engine/*
fw_jsbgym/eval/outputs/*.csv
runs/
fw_jsbgym/models/train/*

# but except those folders and those files
!fw_jsbgym/fdm_descriptions/aircraft/x8/
!fw_jsbgym/fdm_descriptions/aircraft/c172p/
!fw_jsbgym/fdm_descriptions/engine/electric800W.xml
!fw_jsbgym/fdm_descriptions/engine/eng_io320.xml
!fw_jsbgym/fdm_descriptions/engine/direct.xml
!fw_jsbgym/eval/outputs/saves/
!fw_jsbgym/eval/outputs/icinco/
